@import '../../styles/settings.scss';

.cardForm {
    display: flex;
    justify-content: center;
    padding: 10px;
}

span {
    padding-top: 5px;
    margin: 10px;
}

@media (max-width: 767px) {
    .cardForm {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    span {
        text-align: center;
        padding: 10px;
    }
}